{{#each userSurveys as |userSurvey| }}
<div class="pt-2">Dashboard for {{userSurvey.user.name}}</div>
<div class="pt-2">{{userSurvey.title}} (created on {{format_date userSurvey.createdAt}})</div>
{{/each}}
<iframe
  width="300"
  height="300"
  style="border:0"
  loading="lazy"
  allowfullscreen 
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key={{api_key1}}
    &q=EV+charging+station+{{zip_code}}">
</iframe>
<div id="surveyElement" style="display:inline-block;width:100%;"></div>
    <div id="surveyResult"></div>
    <script src="/js/dashboard.js"></script>